.services-submenu {
  /* width: 13rem;  */
  position: absolute;
  top: 99px;
  background-color: white;
 
  text-align: start;
}

.services-submenu li{
    background:rgb(249, 246, 246) ;
    
    cursor: pointer;    
}
.services-submenu.clicked{
  display: none;
  
}
.submenu-item {
   
    
    
    color: rgb(12, 12, 12);
    padding: 16px;
}
.submenu-item:hover {
  
  color: rgb(69, 228, 220);
  
}