.navbar{
    height: 10vh;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:space-between;
    background: linear-gradient(90deg, rgb(73, 218, 205) 0%, rgba(0,0,0,1) 80%, rgba(6, 6, 6, 7) 100%);
    
}
.nav-items{
    display: flex;
    align-items: center;
    height: 20px;
    
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding: 10px 19px;
    padding: 5px;
    height: 10vh;
}
.nav-item a{
    text-decoration: none;
    color: rgb(13, 12, 12);
    font-size: 1.6rem;
    margin: 2rem;
    padding: 10px 19px;
    padding: 5px;
    
    
    
    
}
.nav-item a:hover{
    color:  black;
    background:rgb(96, 242, 230);
    border-radius: 5px;
    padding: 4px 8px ;
}
/* ul li{
    display: inline-block;
    margin:15px 20px;
    font-size: 18px;
    cursor: pointer;
} */
.navbar-logo{
    color: rgb(238, 232, 232);
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
}
.sprachen{
    color:rgb(96, 242, 230);
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}
.Login{
    color: rgb(96, 242, 230);
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 24px;
}
/* ul{
    list-style: none;
    text-align: right;
    margin-right: 100px;
}
ul li{
    display: inline-block;
    margin:15px 20px;
    font-size: 15px;
    cursor: pointer;
} */
/* .Ort{
    
    color:rgb(96, 242, 230);
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
}
.Login{
    color: rgb(96, 242, 230);
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 22px;
} */
/* .search-box{
    display: inline-block;
    align-items: center;
    background: #2f3640;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}
.search-box input::placeholder{
    color: #fff;
}

.search-icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
} */