@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.ticketscard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}